extends javascript
extends html

# react function component
snippet rfunc
	function ${1}() {
		return <>${0}</>;
	}

snippet rfunced
	function ${1}() {
		return <>${0}</>;
	}
	
	export default ${1};

snippet rfunce
	export function ${1}() {
		return <>${0}</>;
	}

