snippet imd
  import ${2} from '${1}'

snippet imp
  import { ${2} } from '${1}'

snippet func
  function ${1}() {

  }

snippet try
  try {
    ${1}
  }
  catch (error) {
  
  }

snippet ep
  export ${1}

snippet ed
  export default ${1}
