extends javascript

# express router
snippet exproute
	import { Router } from 'express';

	class ${1}Route {

		public path = '';
		public router = Router();

		constructor() {
			this.initMiddleware();
			this.initRoutes();
		}

		initMiddleware() {
			${2}
		}

		initRoutes() {
			${0}
		}
	}

	export default new ${1}Route();

snippet expcontroller
	import { Handler } from 'express';

	class ${1}Controller {

	}

	export default ${1}Controller;

